
body{font-family: 'Poppins';}

 ::-webkit-scrollbar {width: 12px;height: 10px;}

 ::-webkit-scrollbar-thumb {
 	background-image: unset;
 	box-shadow: unset;
 	-webkit-box-shadow: unset;
 	background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);}


/*-----------paddings-------*/
.p-0{padding: 0px !important;}
.p-1{padding: 0.25rem !important;}
.p-2{padding: 0.5rem !important;}
.p-3{padding: 1rem !important;}
.p-4{padding: 1.5rem !important;}
.p-5{padding: 3rem !important;}

.pl-0{padding-left: 0px !important;}
.pl-2{padding-left: 0.5rem !important;}
.pl-3{padding-left: 1rem !important;}
.pl-4{padding-left: 1.5rem !important;}
.pl-3{padding-left: 3rem !important;}


.pr-0{padding-right:0px !important;}
.pr-1{padding-right: 0.25rem !important;}
.pr-2{padding-right: 0.5rem !important;}
.pr-3{padding-right: 1rem !important;}
.pr-4{padding-right: 1.5rem !important;}
.pr-5{padding-right: 3rem !important;}

 .pt-0{padding-top: 0px !important;}
 .pt-1{padding-top: 0.25rem !important;}
 .pt-2{padding-top: 0.5rem !important;}
 .pt-3{padding-top: 1rem !important;}
 .pt-4{padding-top: 1.5rem !important;}
 .pt-5{padding-top: 3rem !important;}


 .pb-0{padding-bottom: 0px !important;}
 .pb-1{padding-bottom: 0.25rem !important;}
 .pb-2{padding-bottom: 0.5rem !important;}
 .pb-3{padding-bottom: 1rem !important;}
 .pb-4{padding-bottom: 1.5rem !important;}
 .pb-5{padding-bottom: 3rem !important;}
 .p-6{padding: 4rem;}
 .padd-left-0{padding-left: 0px;}
/*-----------paddings-------*/

/*-----------margin----------------*/
 .m-0{margin: 0px!important;}
 .m-5 {margin: 3rem!important;}

 .mt-0{margin-top:0px !important;}
 .mt-1{margin-top: 0.25rem !important;}
 .mt-2{margin-top: 0.5rem !important;}
 .mt-3{margin-top: 1rem !important;}
 .mt-4{margin-top: 1.5rem !important;}
 .mt-5{margin-top: 3rem !important;}

 .mt-15{margin-top: 15%;}
 .mt-6{margin-top: 6rem;}
.ml-5{margin-left: 3rem;}
.mb-0{margin-bottom:0px !important;}
.mb-1{margin-bottom:0.25rem !important;}
.mb-2{margin-bottom:0.5rem !important;}
.mb-3{margin-bottom:1rem !important;}
.mb-4{margin-bottom:1.5rem !important;}
.mb-5{margin-bottom:3rem !important;}

/*-----------margin----------------*/

.btn-gradient{
	background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);
	color: #fff!important;border-radius: 0px;border:none;transition-duration: 1s;}

.btn-gradient:hover{background-image: unset;border:1px solid #fff;}

.text-blue{color: #3a6095!important;}
.text-white{color: #fff!important;}
.text-dark{color: #333!important;}
.text-purl{color: #7f95e8!important;}
.text-light-purl{color: #8798b6!important;}
.bg-ice-white{background-color: #fafafa!important;}

.d-none{display: none;}
.font-50{font-size: 50px;}
.font-40{font-size: 40px;}
.font-18{font-size:18px;line-height: 35px;letter-spacing: 1px;}
.p-reletive{position: relative;}
.p-absolute{position: absolute;}
.spacing{margin-top: 7%;}
.banner-wavy{background-image: url('../img/wav-bg.webp');background-size: 100% 100%;}
.banner-header{background-image: url('../img/header-bg.webp');background-size: 100% 100%;min-height: 700px;}

.navbar-inverse {border-color: transparent;background: transparent;}


.-hover-bg-white:hover{
	background-color: #fff;transition-duration: .5s;
	-webkit-box-shadow: 2px 4px 37px -5px rgba(87,118,226,1);
-moz-box-shadow: 2px 4px 37px -5px rgba(87,118,226,1);
box-shadow: 2px 4px 37px -5px rgba(87,118,226,1);
}


.client{
	border-radius: 30% 70% 66% 34% / 30% 30% 70% 70%;
	height: 428px;width: 429px;
	background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);
	padding: 8%;
}

.border-r{border-radius:50%;}

.navbar-default{background-color: #fff;}

.navbar-default ul li a h4{
	font-size: 0.85714286em;
    line-height: 2.16666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;

}

.navbar-inverse ul li a h4{
	font-size: 0.85714286em;
    line-height: 2.16666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;

}

.banner-wavy h4 {top: 50%;left:12%;}
.banner-wavy p {top:65%;left: 40%;}
.h-400{min-height: 400px;}

.socia-icons .list-inline-item{border: 1px solid #9d9d9d;padding: 8px 1px 1px 14px;margin-left: 10px;
    border-radius: 50%;height: 40px;width: 40px;}
.socia-icons .list-inline-item i{color: #9d9d9d;}
.btn-light{background-color: #eef0fc;}
blockquote {padding: 10px 20px;margin: 0 0 20px;font-size: 17.5px;border-left: 1px solid transparent;}

.box-shap{right: 0px;right: 51px;top: 20px;}
.h-50{height: 50px;}
/*-----media quirys---------*/

@media(min-width: 769px){

.ex-mt{margin-top: 15%;}
}



@media(max-width: 767px){

.banner-wavy{background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);}
.banner-wavy h4 {top: 30%;left:unset!important;position: static;}
.banner-wavy p {top: 60%;left:unset !important;position: static;}
.banner-header{background-image:unset;background-size: 100% 100%;min-height: 700px;
	background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);
}
.h-400 {
    min-height: 230px;padding-top: 13%;
}
.client{
	border-radius:0px;
	min-height: 428px;width: auto;
	background-image: linear-gradient(to right top, #6fa3f9, #5680e5, #465dcd, #3f38b2, #3c0094);
	padding:5%;
}
#icon-img-box{display: none;}

}
/*-----media quirys---------*/